  <div data-role="view" id="news"  data-model="app.newsService.viewModel">
  
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span>News</span>


        </div>
    </header>


        <ul data-role="listview" data-style="inset"
            data-bind="source: NewsDataSource"
            data-template="news-template"
             class="allBuildingsList"
            >
        </ul>
    </div>

    <script id="news-template" type="text/x-kendo-tmpl">
  
         <a onclick="window.open('${LINK}', '_blank')"><h3>${TITLE}</h3></a>

    </script>


</div>