<div data-role="view" data-title="Details" data-model="app.allschoolsView.allschoolsViewModel" data-bind="events: { show: detailsShow }" id="allschoolsViewModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>

    <!-- START_CUSTOM_CODE_allschoolsViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">
      <img  data-bind="attr: { src: currentItem.Buillding_Image }" style="width:100%">
   
             
                    <h3 data-bind="text: currentItem.Location"></h3>
                  
                    <p data-bind="text: currentItem.Description"></p>
        


    </div>
    <!-- END_CUSTOM_CODE_allschoolsViewModel -->
</div>