<div data-role="view" data-title="Details" data-model="app.allschoolsView.allschoolsViewModel" data-bind="events: { show: detailsShow }" id="allschoolsViewModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>

    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">


                <li class="detail-content-item">


                    <div data-bind="html: currentItem.Description"></div>


                </li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_allschoolsViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">


        <div class="schools">


            <div>
                <img data-bind="attr: { src: currentItem.Building_Image }" style="width:100%">
            </div>
            <div class="header">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name"><strong></strong></h4>
                <p class="school_address" data-bind="attr: { src: currentItem.Building_Address }"></p>
            </div>


            <div data-role="tabstrip" class="tab_schools">
                <button class="schoolButton"> <a data-role="button" data-rel="actionsheet" data-icon="phone-e" href="#actionsheet">Call</a></button>
                <ul id="actionsheet" data-role="actionsheet" class="schools_calling" data-click="navigateToAddress" data-popup="{" transition="" ":=" " "slide="" ",=" " "height="" "auto=" " "width="" 200,="" "direction=" " "left="" "=" " }"="">
                    <li>
                        <a data-action="onCallMain">
                Call Main Office
            </a>
                    </li>
                    <li>
                        <a data-action="onCallAttendance">
                Call Attendance Office
            </a>
                    </li>
                    <li>
                        <a data-action="onCallCounseling">
                Call Counseling Center
            </a>
                    </li>


                </ul>

                <button class="schoolButton">
                    <a href="" data-icon="map" class="fa" data-rel="external">Map</a>
                </button>
                <button class="schoolButton">
                    <a href="#" data-rel="external" onclick="window.open('http://lswhs.lsr7.org/', '_system', 'location=yes'); return false;" class="fa" data-icon="website">Website</a>
                </button>
            </div>
            <hr class="schools_hr">
            <img data-bind="attr: { src: currentItem.Principal_Image }" width="50%" align="left" style="margin-left: 10px; margin-top: 15px; margin-right: 20px;">

            <h3 class="AdminImgH3" data-bind="text: currentItem.Principal_Name"></h3>
            <h5 class="AdminImgH5">Principal</h5>
        </div>
        <script>
            var mainphone = kendo.template("#=currentItem.Main_Phone #");

            function onCallMain() {
                document.location.href = 'tel:' + mainphone;
            }

            function onCallAttendance() {
                document.location.href = 'tel:8169864002';
            }

            function onCallCounseling() {
                document.location.href = 'tel:8169864003';
            }
        </script>


    </div>
    <!-- END_CUSTOM_CODE_allschoolsViewModel -->
</div>