<div data-role="view" data-title="All Buildings" data-layout="main" data-model="app.allBuildingsView" data-show="app.allBuildingsView.onShow" data-after-show="app.allBuildingsView.afterShow">

    <!-- START_CUSTOM_CODE_allBuildingsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <ul data-role="listview" data-style="inset">

        <li>
            <a href="components/elementaryschoolsview/view.html">Elmentary Schools</a>
        </li>
        <li>
            <a href="components/middleschoolsview/view.html">Middle Schools</a>
        </li>
        <li>
            <a href="components/highschoolsview/view.html">High Schools</a>
        </li>
         <li>
            <a href="components/otherbuildingsview/view.html">Other Buildings</a>
        </li>
    </ul>
    <!-- END_CUSTOM_CODE_allBuildingsView -->
</div>