<div data-role="view" data-title="View" data-layout="main" data-model="app.allBuildingsView" data-show="app.allBuildingsView.onShow" data-after-show="app.allBuildingsView.afterShow" id="allBuildingsViewScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.allBuildingsView.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_allBuildingsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-role="view-title"></span>


        </div>
    </header>

    <ul data-role="listview" data-style="inset" class="allBuildingsList">

        <li>
            <a href="components/elementaryschoolsview/view.html">Elmentary Schools</a>
        </li>
        <li>
            <a href="components/middleschoolsview/view.html">Middle Schools</a>
        </li>
        <li>
            <a href="components/highschoolsview/view.html">High Schools</a>
        </li>
        <li>
            <a href="components/otherbuildingsview/view.html">Other Buildings</a>
        </li>
    </ul>
    <!-- END_CUSTOM_CODE_allBuildingsView -->
</div>