<div data-role="view" data-title="Details" data-model="app.elementaryschoolsview.elementaryschoolsviewModel" data-bind="events: { show: detailsShow }" id="elementaryschoolsviewModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>

    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">


            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_elementaryschoolsviewModel -->

    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">


        <div class="schools">


            <div>
                <img data-bind="attr: { src: currentItem.Building_Image }" style="width:100%">
            </div>
            <div class="header">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name"><strong></strong></h4>
                <p class="school_address" data-bind="text: currentItem.Building_Address"></p>
            </div>


            <div data-role="tabstrip" class="tab_schools">
                <button class="schoolButton"> <a data-role="button" data-rel="actionsheet" data-icon="phone-e" href="#actionsheet">Call</a></button>
                <ul id="actionsheet" data-role="actionsheet" class="schools_calling" data-click="navigateToAddress" data-popup="{" transition="" ":=" " "slide="" ",=" " "height="" "auto=" " "width="" 200,="" "direction=" " "left="" "=" " }"="">
                    <li>
                        <a data-action="onCallMain_ELEM">
                Call Main Office
            </a>
                    </li>
                    <li>
                        <a data-action="onCallAttendance_ELEM">
                Call Attendance Office
            </a>
                    </li>
                    <li>
                        <a data-action="onCallCounseling_ELEM">
                Call Counseling Center
            </a>
                    </li>


                </ul>

                <button class="schoolButton" v>
                    <a href="" data-icon="map" class="fa" data-rel="external">Map</a>
                </button>
                <button class="schoolButton">

                  <a onclick="go_Website()"  class="fa" data-icon="website">
                Website</a>
                </button>
            </div>
            <hr class="schools_hr">
            <img data-bind="attr: { src: currentItem.Principal_Image }" width="50%" align="left" style="margin-left: 10px; margin-top: 15px; margin-right: 20px;">

            <h3 class="AdminImgH3" data-bind="text: currentItem.Principal_Name"></h3>
            <h5 class="AdminImgH5">Principal</h5>
        </div>
  <input type="hidden" id="Building_Website" data-bind="value: currentItem.Building_Website">
   <input type="hidden" id="Main_Phone" data-bind="value: currentItem.Main_Phone">      
      <input type="hidden" id="Attendance_Phone" data-bind="value: currentItem.Attendance_Phone">
      <input type="hidden" id="Counseling_Phone" data-bind="value: currentItem.Counseling_Phone">        
        
        <script>
               function go_Website() {
               var go_web = document.getElementById('Building_Website').value;
     window.open(go_web, '_blank');
            }
       

            function onCallMain_ELEM() {
             var mainphone = document.getElementById('Main_Phone').value;
                document.location.href = 'tel:' + mainphone;
            }

            function onCallAttendance_ELEM() {
            var attendancephone = document.getElementById('Attendance_Phone').value;
                document.location.href = 'tel:' + attendancephone;
            }

            function onCallCounseling_ELEM() {
                       var counselingphone = document.getElementById('Counseling_Phone').value;     
                document.location.href = 'tel:' + counselingphone;
            }
        </script>


    </div>
    <!-- END_CUSTOM_CODE_elementaryschoolsviewModel -->
</div>