<div data-role="view" data-title="Details" data-model="app.elementaryschoolsview.elementaryschoolsviewModel" data-bind="events: { show: detailsShow }" id="elementaryschoolsviewModelDetailsView" >
    <header data-role="header">
       <div data-role="navbar"  id='nav3' class="header-text" id="navbarcolor">
            <a data-role="backbutton" class="backbutton" data-click="backbuttonremove" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>
            <footer data-role="footer">
            <div data-role="tabstrip" id="navigation-container">
                <a data-bind="style: { background:currentItem.Building_BackgroundColor}, events: {click:onCallMain_ELEM}" style="font-size: 1rem;"><i class="fa fa-phone iconbiggertouch" aria-hidden="true"></i><br>Main</a>
                <a data-bind="style: { background:currentItem.Building_BackgroundColor}, events: {click:onCallAttendance_ELEM}" style="font-size: 1rem;"><i class="fa fa-phone iconbiggertouch" aria-hidden="true"></i><br>Attendance</a>
                <a onclick="go_map_ELEM()" data-bind="style: { background:currentItem.Building_BackgroundColor}" style="font-size: 1rem;"><span><i class="fa fa-map-marker iconbiggertouch" aria-hidden="true"></i><br></span>Map</a>
                <a data-bind="style: { background:currentItem.Building_BackgroundColor}, events:{click:go_Website_ELEM}" style="font-size: 1rem;"><i class="fa fa-mouse-pointer iconbiggertouch" aria-hidden="true"></i><br>Website</a>
                <input type="hidden" id="Map_ELEM"  data-bind="value: currentItem.Map_Links">
                <script>
                 function go_map_ELEM() {
                 var go_map = 'geo:' + document.getElementById('Map_ELEM').value;
                 app.openLink(go_map);
                 }
            </script>
            </div>
            </footer>
    <!-- START_CUSTOM_CODE_elementaryschoolsviewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <div class="details-content">
        <div class="schoolsinfocontainer" data-bind="style: {border:currentItem.Sec_Building_Color}">

            <div class="header schoolinfobox" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name" align="center"></h4>
                <h4 class="school_address" data-bind="text: currentItem.Building_Address" align="center"></h4>
                <h4 class="school_address2" data-bind="text: currentItem.BUILDING_CITY" align="center"></h4>

            </div>

          <img data-bind="attr: { src: currentItem.Building_Image }" class="school_info_image" >

                </div>
 
                 
            <div style="float: left;width:100%">
                <div style="width:80%;float:left"">
               <h3 data-bind="text: currentItem.BUILDING_HOURS"></h3>
                <h3 data-bind="text: currentItem.OFFICE_HOURS"></h3>
                </div>

      <div style="width:20%;float:left">
                    <img src="img/Alarmclock.png" width="60%" style="margin-top:25%"/>
                    </div>
                     </div>

 
            </div>


    <!-- END_CUSTOM_CODE_elementaryschoolsviewModel -->
