<div data-role="view" data-title="Lunch" data-layout="main" data-model="app.lunch" data-show="app.lunch.onShow" data-after-show="app.lunch.afterShow">
    <!-- START_CUSTOM_CODE_lunch -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
       
    <div class="lunchDiv" align="center" style="border:1px solid rgb(77, 140, 172)">
<a onclick="window.open('http://leessummitschoolnutrition.com/?page=main', '_blank')">Click Here to go to the LSR7 Nutrition Site</a>
</div>
    
    <button class="lunchButton"><a onclick="window.open('http://leessummitschoolnutrition.com/?page=main', '_blank')">LSR7 Nutrition</a></button>
        <button class="lunchButton"><a onclick="window.open('https://www.myschoolbucks.com/ver2/login/getmain', '_blank')">MySchoolBucks</a></button>
        <button class="lunchButton"><a onclick="window.open('http://leessummitschoolnutrition.com/index.php?sid=2006131542515836&page=menus', '_blank')">Lunch Menus</a></button>
    <!-- END_CUSTOM_CODE_lunch -->
</div>