<div data-role="view" data-title="LSWHS" data-layout="main" data-model="app.lswhs" data-show="app.lswhs.onShow" data-after-show="app.lswhs.afterShow">

    <!-- START_CUSTOM_CODE_lswhs -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="schools">


        <div>
            <img src="img/lswhs_building.jpg" width="100%" height="200px" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="header">
            <h4><strong>Lees Summit West High School</strong></h4>
            <p>2600 SW Ward Road
                <br> Lee's Summit, Missouri • 64082</p>

        </div>
        <div data-role="tabstrip" class="tab_schools">
            <a href="tel:8169864000" data-icon="phone-e" data-rel="external" class="schools_btn">Call</a>
            <a href="mailto:david.sharp@lsr7.net" data-icon="email-e" data-rel="external" class="schools_btn">Email</a>
            <a href="#" class="schools_btn" data-rel="external" onclick="window.open('http://lswhs.lsr7.org/', '_system', 'location=yes'); return false;" data-icon="website-e">Website</a>
        </div>

        <img src="img/lswhs_drsharp.jpg" width "50%" height="150px" align="left" style="margin-left: 25px; margin-top: 15px; margin-right: 20px;">
        <h3 class="AdminImgH3">Dr. David Sharp</h3>
        <h5 class="AdminImgH5">Principal</h5>
    </div>
    <!-- END_CUSTOM_CODE_lswhs -->
</div>