<div data-role="view" data-title="Details" data-model="app.otherbuildingsview.otherbuildingsviewModel" data-bind="events: { show: detailsShow }" id="otherbuildingsviewModelScreen" class="screen screen--detail">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>

    <div class="details-content screen__content screen__content--details">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">


            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_otherbuildingsviewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">


        <div class="schools">


            <div>
                <img data-bind="attr: { src: currentItem.Building_Image }" style="width:100%">
            </div>
            <div class="header" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name"><strong></strong></h4>
                <p class="school_address" data-bind="text: currentItem.Building_Address"></p>
            </div>


            <div data-role="tabstrip" class="tab_schools">
                <button class="schoolButton"> <a data-role="button" data-rel="actionsheet" data-icon="phonelsr7" class="fa" href="#actionsheet" data-bind="style: { background:currentItem.Building_BackgroundColor}">Call</a></button>
                <ul id="actionsheet" data-role="actionsheet" class="schools_calling" data-click="navigateToAddress" data-popup="{" transition="" ":=" " "slide="" ",=" " "height="" "auto=" " "width="" 200,="" "direction=" " "left="" "=" " }">
                    <li>
                        <a data-action="onCallMain_OTHER">
                Call Main Office
            </a>
                    </li>
                    <li>
                        <a data-action="onCallAttendance_OTHER">
                Call Attendance Office
            </a>
                    </li>
                    <li>
                        <a data-action="onCallCounseling_OTHER">
                Call Counseling Center
            </a>
                    </li>


                </ul>

                <button class="schoolButton">

                    <a onclick="go_map_OTHER()" class="fa" data-icon="map" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                Map</a>
                </button>
                <button class="schoolButton">

                    <a onclick="go_Website_OTHER()" class="fa" data-icon="website" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                Website</a>
                </button>
            </div>
            <hr class="schools_hr">
            <img data-bind="attr: { src: currentItem.Principal_Image }" width="50%" align="left" style="margin-left: 10px; margin-top: 15px; margin-right: 20px;">

            <h3 class="AdminImgH3" data-bind="style: { color:currentItem.Building_BackgroundColor}"><span data-bind="text: currentItem.Principal_Name"></span></span></h3>
            <h5 class="AdminImgH5" data-bind="text: currentItem.Principal_Type"></h5>
        </div>
        <input type="hidden" id="Building_Website_OTHER" data-bind="value: currentItem.Building_Website">
        <input type="hidden" id="Main_Phone_OTHER" data-bind="value: currentItem.Main_Phone">
        <input type="hidden" id="Attendance_Phone_OTHER" data-bind="value: currentItem.Attendance_Phone">
        <input type="hidden" id="Counseling_Phone_OTHER" data-bind="value: currentItem.Counseling_Phone">
        <input type="hidden" id="Map_OTHER" data-bind="value: currentItem.Map_Links">


        <script>
            function go_map_OTHER() {
                var go_map = 'geo:' + document.getElementById('Map_OTHER').value;
                app.openLink(go_map);
            }

            function go_Website_OTHER() {
                var go_web = document.getElementById('Building_Website_OTHER').value;
                window.open(go_web, '_blank');
            }

            function onCallMain_OTHER() {
                var mainphone = document.getElementById('Main_Phone_OTHER').value;
                document.location.href = 'tel:' + mainphone;
            }

            function onCallAttendance_OTHER() {
                var attendancephone = document.getElementById('Attendance_Phone_OTHER').value;
                document.location.href = 'tel:' + attendancephone;
            }

            function onCallCounseling_OTHER() {
                var counselingphone = document.getElementById('Counseling_Phone_OTHER').value;
                document.location.href = 'tel:' + counselingphone;
            }
        </script>


    </div>
    <!-- END_CUSTOM_CODE_otherbuildingsviewModel -->
</div>