<div data-role="view" data-title="Details" data-model="app.otherbuildingsview.otherbuildingsviewModel" data-bind="events: { show: detailsShow }" id="otherbuildingsviewModelDetailsView">
    <header data-role="header"  >
        <div data-role="navbar" id='nav4' class="header-text" id="navbarcolor" >
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_otherbuildingsviewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">


        <div class="schools">

            <img data-bind="attr: { src: currentItem.Building_Image }" style="width:100%; max-height: 230px;">

            <div class="header" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name" align="center"><strong></strong></h4>
                <p class="school_address" data-bind="text: currentItem.Building_Address" align="center"></p>
            </div>

        <div id='schoolbuttons' class="schools2">
            <div data-role="tabstrip" class="tab_schools">
                 <button class="schoolButton"> 
                    <a class="fa" data-bind="style: { background:currentItem.Building_BackgroundColor}, events: {click:onCallMain_OTHER}"><span><i class="fa fa-phone" aria-hidden="true"></i><br></span>Main</a>
                </button>

                <button class="schoolButton"> 
                    <a class="fa" data-bind="style: { background:currentItem.Sec_Building_Color}, events:{click:onCallAttendance_OTHER}"><span><i class="fa fa-phone" aria-hidden="true"></i><br></span>Attendance</a>
                </button>


                <button class="schoolButton">
                    <a class="fa" data-bind="style: { background:currentItem.Building_BackgroundColor}, events:{click:go_Website_OTHER}"><span><i class="fa fa-mouse-pointer" aria-hidden="true"></i><br></span>Website</a>
                </button>
                </div>
                <div data-role="tabstrip" class="tab_schools2">
                <button class="schoolButton">
                    <a onclick="go_map_OTHER()" class="fa" data-bind="style: { background:currentItem.Sec_Building_Color}"><span><i class="fa fa-map-marker" aria-hidden="true"></i><br></span>Map</a>
                </button>
                <button class="schoolButton">

                    <a class="fa" id="flip" data-bind="style: { background:currentItem.Building_BackgroundColor}"><span><i class="fa fa-users" aria-hidden="true"></i><br></span>Admin.</a>
                </button>
            </div>

            <input type="hidden" id="Map_HIGH"  data-bind="value: currentItem.Map_Links">

            <script>
                function go_map_OTHER() {
                    var go_map = 'geo:' + document.getElementById('Map_OTHER').value;
                    app.openLink(go_map);
                }
            </script>

            <div>
                <script>
                    $(document).ready(function() {
                        $("#flip ").click(function() {
                            $("#panel").slideToggle("fast ");
                        });
                    });
                </script>
                <style>
                    #panel {
                        padding: 0px;
                        display: none;
                    }

                    ul {
                        list-style-type: none;
                    }
                </style>
            </div>
            <div id="panel">
        <div style="width: 100%; border-top: 2px solid black;">
            <div style="text-align: center; margin-top: 10px; float: left; width: 50%;">
                <h5 class="AdminImgH3" data-bind="style: { color:currentItem.Building_BackgroundColor}"><span data-bind="text: currentItem.Principal_Name"></span></h5>
                <h6 class="AdminImgH5" data-bind="text: currentItem.BA1"></h6>
            </div>
            <div style="text-align: center; margin-top: 10px; float: left; width: 50%;">
                <h5 class="AdminImgH3" data-bind="style: { color:currentItem.Building_BackgroundColor}"><span data-bind="text: currentItem.Assist_Principal_Name" style="text-align: center;"></span></h5>
                <ul style="list-style-type: none; padding: 0px; margin-left: 14.720px; margin-top: 0px; text-align: center;">
                <li><h6 class="AdminImgH5" data-bind="text: currentItem.BA2"></h6></li>
                <li><h6 class="AdminImgH5" data-bind="text: currentItem.BA3"></h6></li>
                <li><h6 class="AdminImgH5" data-bind="text: currentItem.BA4"></h6></li>
                <li><h6 class="AdminImgH5" data-bind="text: currentItem.BA5"></h6></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
            </div>
            </div>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_otherbuildingsviewModel -->
</div>