<div data-role="view" data-title="Details" data-model="app.highschoolsview.highschoolsviewModel" data-bind="events: { show: detailsShow }" id="highschoolsviewModelDetailsView">
    <header data-role="header"  >
        <div data-role="navbar" id='nav' class="header-text" id="navbarcolor" >
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_highschoolsviewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">


        <div class="schools">

                <img data-bind="attr: { src: currentItem.Building_Image }" style="width:100%">
  
            <div class="header" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name" align="center"><strong></strong></h4>
                <p class="school_address" data-bind="text: currentItem.Building_Address" align="center"></p>
            </div>


            <div data-role="tabstrip" class="tab_schools">
                <button class="schoolButton"> <a data-role="button" data-rel="actionsheetH" data-icon="phonelsr7" class="fa" href="#actionsheetH" data-bind="style: { background:currentItem.Building_BackgroundColor}">Call</a></button>
                <ul id="actionsheetH" data-role="actionsheet" class="schools_calling" data-click="navigateToAddress" data-popup="{" transition="" ":=" " "slide="" ",=" " "height="" "auto=" " "width="" 200,="" "direction=" " "left="" "=" " }">
                    <li>
                        <a data-action="app.highschoolsview.highschoolsviewModel.onCallMain_HIGH">
                Call Main Office
            </a>
                    </li>
                    <li>
                        <a data-action="app.highschoolsview.highschoolsviewModel.onCallAttendance_HIGH">
                Call Attendance Office
            </a>
                    </li>
                    <li>
                        <a data-action="app.highschoolsview.highschoolsviewModel.onCallCounseling_HIGH">
                Call Counseling Center
            </a>
                    </li>


                </ul>

                <button class="schoolButton">

                    <a class="fa" data-icon="map" data-bind="style: { background:currentItem.Building_BackgroundColor}, events: {click:go_map_HIGH}">
                Map</a>
                </button>
                <button class="schoolButton">

                    <a class="fa" data-icon="website" data-bind="style: { background:currentItem.Building_BackgroundColor}, events:{click:go_Website_HIGH}" >
                Website</a>
                </button>
            </div>
            <hr class="schools_hr">
            <img id="imgPrin" data-bind="attr: { src: currentItem.Principal_Image }" width="45%" align="left" style="margin-left: 40px; margin-top: 15px; position: relative;">
            <div style="text-align: center; margin-top: 80px;">
            <h3 class="AdminImgH3" data-bind="style: { color:currentItem.Building_BackgroundColor}"><span data-bind="text: currentItem.Principal_Name"></span></span></h3>
            <h5 class="AdminImgH5" data-bind="text: currentItem.Principal_Type"></h5>
            </div>
    </div>
    </div>
    <!-- END_CUSTOM_CODE_highschoolsviewModel -->
</div>
