<div data-role="view" data-title="Details" data-model="app.highschoolsview.highschoolsviewModel" data-bind="events: { show: detailsShow }" id="highschoolsviewModelDetailsView">
    <header data-role="header"  >
        <div data-role="navbar" id='nav' class="header-text" id="navbarcolor" >
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span data-bind="text: currentItem['Location']"></span>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_highschoolsviewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div class="details-content">


        <div class="schools">

            <img data-bind="attr: { src: currentItem.Building_Image }" style="width:100%; max-height: 230px;">

            <div class="header" data-bind="style: { background:currentItem.Building_BackgroundColor}">
                <h4 class="school_title" data-bind="text: currentItem.Building_Name" align="center"><strong></strong></h4>
                <p class="school_address" data-bind="text: currentItem.Building_Address" align="center"></p>
            </div>

            <div id='schoolbuttons' class="schools2">
            <div data-role="tabstrip" class="tab_schools">
                <button class="schoolButton"> 
                    <a class="fa" data-bind="style: { background:currentItem.Building_BackgroundColor}, events: {click:onCallMain_HIGH}"><span><i class="fa fa-phone" aria-hidden="true"></i><br></span>Call Main</a>
                </button>

                <button class="schoolButton">

                    <a class="fa" data-bind="style: { background:currentItem.Sec_Building_Color}, events: {click:go_map_HIGH}"><span><i class="fa fa-map-marker" aria-hidden="true"></i><br></span>Map</a>
                </button>
                <button class="schoolButton">

                    <a class="fa" data-bind="style: { background:currentItem.Building_BackgroundColor}, events:{click:go_Website_HIGH}"><span><i class="fa fa-mouse-pointer" aria-hidden="true"></i><br></span>Website</a>
                </button>
                </div>
                <div data-role="tabstrip" class="tab_schools2">
                <button class="schoolButton"> 
                    <a class="fa" data-bind="style: { background:currentItem.Sec_Building_Color}, events:{click:onCallAttendance_HIGH}"><span><i class="fa fa-phone" aria-hidden="true"></i><br></span>Call Attnd.</a>
                </button>

                <button class="schoolButton">

                    <a class="fa" data-bind="style: { background:currentItem.Building_BackgroundColor}"><span><i class="fa fa-users" aria-hidden="true"></i><br></span>Admin.</a>
                </button>
                
            </div>
            </div>
            </div>
        </div>
    </div>
    <!-- END_CUSTOM_CODE_highschoolsviewModel -->
</div>