  <div data-role="view" id="SchoolBoard">
  
    <header data-role="header">
        <div data-role="navbar" class="header-text">
                        <span style="float:right;text-align:right;    margin-right: 5%;"><img src="img/logo-small.jpg" width="25%" style="vertical-align: middle;right:0"/></span>
            <a data-role="backbutton" data-align="left"><i class="fa fa-chevron-left"></i></a> <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="fa fa-bars" aria-hidden="true" style="color: white;"></i></a>
            <span>Board of Education</span>


        </div>
    </header>
<div>
<a onclick="window.open('https://contact.lsr7.org/p/?id=5&r=1,2,4,5,10,11,12', '_blank')" data-role="button" style="background-color: #4D8CAC;color:white;float:right;margin:1em ;">Contact the Board</a>
</div>

    <ul class="masterDetailView grid noSeparators cols-2" data-role="listview" data-auto-bind="false" data-style="inset" 
    data-pull-to-refresh="false" data-endless-scroll="false" style="clear: right;">
<li><img src="img/boardmembers/BobWhite_entry.jpg"><h3>Bob White</h3><p>President</p></li>
<li><img src="img/boardmembers/JulieDoane_web_entry.jpg"><h3>Julie Doane</h3><p>Vice President</p></li>
<li><img src="img/boardmembers/Balagna__entry.jpg"><h3>Phyllis Balagna</h3><p>Member</p></li>
<li><img src="img/boardmembers/JKC_Portrait_082013_entry.jpg"><h3>Jackie Clark</h3><p>Member</p></li>
<li><img src="img/boardmembers/Fritchie_Kim_DSF8133_RT-8x10cropped_entry.jpg"><h3>Kim Fritchie</h3><p>Member</p></li>
<li><img src="img/boardmembers/AdamRutherford_web_entry.jpg"><h3>Adam Rutherford</h3><p>Member</p></li>
<li><img src="img/boardmembers/Smith_Dennis_1_entry.jpg"><h3>Dennis Smith</h3><p>Member</p></li>
<li></li>
    </ul>

    </div>



</div>